<a href="https://colab.research.google.com/github/Sato-Keitatsu/BookStudy/blob/main/01_python%E5%BE%A9%E7%BF%92/01_03_python%E5%85%A5%E9%96%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while文による繰り返し

In [ ]:
text = "" # text に初期値として "" を設定する

while text != "finish": # text が "finish"ではない間、処理を繰り返す
    # 文字を入力する
    text = input("finishと入力してください:")  # text に文字を読み込む
    print(text, "と入力されました。")

print("終了しました")

finishと入力してください:finish
finish と入力されました。
終了しました

In [ ]:
counter = 1 # 現在、何回目かを記録する変数

while counter <= 5:  # counterの値が5以下なら繰り返す
    text = input("数字を入力してください:")
    number = int(text) # 入力した文字列を数値に変換する
    print(counter, "回目:", number * number) # 入力した数値の2乗を表示する
    counter = counter + 1  # counter の値に 1 を加算する
    
print("終了しました")

数字を入力してください:123
1 回目: 15129
数字を入力してください:55
2 回目: 3025
数字を入力してください:77
3 回目: 5929
数字を入力してください:45
4 回目: 2025
数字を入力してください:23
5 回目: 529
終了しました

In [ ]:
counter = 1 # 現在、何回目かを記録する変数

while counter <= 5:  # counterの値が5以下なら繰り返す
    text = input("数字を入力してください")

    # 入力された文字が '999' なら
    if text == '999':
        # ループを中断する
        print("中断します")
        break

    number = int(text) # 入力した文字列を数値に変換する
    print(counter, "回目:", number * number) # 入力した数値の2乗を表示する
    counter = counter + 1  # counter の値に 1 を加算する

print("終了しました")

数字を入力してください777
1 回目: 603729
数字を入力してください888
2 回目: 788544
数字を入力してください999
中断します
終了しました

In [ ]:
counter=1
while counter<=5:
    text=input("暗証番号を入力してください")

    if text=="1234":
        print("正しく入力されました")
        break
    
    number=int(text)
    print(counter,"回目:",text,"と入力されました")
    counter=counter+1
print("終了しました")

暗証番号を入力してください1234
正しく入力されました
終了しました

In [ ]:
i = 0
while i < 10:
    i = i + 1

    if (i % 2) == 1: # iを2で割った余りが1のとき
        continue

    print(i, "is even.") # 値を出力

2 is even.
4 is even.
6 is even.
8 is even.
10 is even.

In [ ]:
counter = 1 # 現在、何回目かを記録する変数

while counter <= 10:  # counterの値が10以下なら繰り返す
    text = input("数字を入力してください")

    # 入力された文字が '999' なら
    if text == '999':
        # ループを中断する
        print("中断します")
        break

    number = int(text) # 入力した文字列を数値に変換する
    print(counter, "回目:", number * number) # 入力した数値の2乗を表示する
    counter = counter + 1  # counter の値に 1 を加算する

print("終了しました")

数字を入力してください

ValueError: ignored

In [ ]:
counter = 1 # 現在、何回目かを記録する変数

while counter <= 10:  # counterの値が10以下なら繰り返す
    text = input("数字を入力してください")
    
    # if 入力された文字が ''なら
    if text == '':
        print("入力が無効です")
        # ループの先頭に戻る
        continue

    # 入力された文字が '999' なら
    if text == '999':
        # ループを中断する
        print("中断します")
        break

    number = int(text) # 入力した文字列を数値に変換する
    print(counter, "回目:", number * number) # 入力した数値の2乗を表示する
    counter = counter + 1  # counter の値に 1 を加算する

print("終了しました")

数字を入力してください
入力が無効です
数字を入力してください999
中断します
終了しました

In [ ]:
momo = input("ももは何個買いますか？")  # ももの個数を入力する
num_momo = int(momo) # 入力した文字列を、整数値に変換する

mikan = input("みかんは何個買いますか？") # みかんの個数を入力する
num_mikan = int(mikan) # 入力した文字列を、整数値に変換する

total_momo = num_momo * 100
total_mikan = num_mikan * 40
total = total_momo + total_mikan

print("もも", num_momo, "個と、みかん", num_mikan, "個で、", total, "円です")

ももは何個買いますか？10
みかんは何個買いますか？10
もも 10 個と、みかん 10 個で、 1400 円です

In [ ]:
# 関数の定義

def fruit_price(number_of_momo, number_of_mikan):
    # ももとみかんの合計金額を計算する

    total_momo = number_of_momo * 100
    total_mikan = number_of_mikan * 40
    total = total_momo + total_mikan
    return total


# もも5個、みかん10個の値段を計算
total = fruit_price(5, 10)
print("もも 5個と、みかん 10個で、", total, "円です")

もも 5個と、みかん 10個で、 900 円です

In [ ]:
# もも100個、みかん200個の値段を計算
total = fruit_price(100, 200)
print("もも 100個と、みかん 200個で、", total, "円です")

もも 100個と、みかん 200個で、 18000 円です

In [ ]:
# global_value はグローバル変数
global_value = 100

def test_global(arg):
    # ローカル変数 arg と グローバル変数 global_value の積
    return arg * global_value

print(test_global(10)) # 10 * 100

1000

In [ ]:
def func1(name):
    print("Hello", name, ", this is func1.")

def func2():
    func1("func2")

func2()

Hello func2 , this is func1.

In [ ]:
import time

def print_time():
    # モジュールスコープで import した timeモジュールを利用
    now = time.asctime()
    print("It is", now)
    
print_time()

It is Mon May  2 06:39:29 2022

In [ ]:
def fruit_price(number_of_momo, number_of_mikan, name="上"):
    total_momo = number_of_momo * 200
    total_mikan = number_of_mikan * 40
    total = total_momo + total_mikan

    print(name, "様: もも", number_of_momo, "個と、みかん", number_of_mikan, "個で、", total, "円です")

In [ ]:
fruit_price(10, 20, 'python.jp')

python.jp 様: もも 10 個と、みかん 20 個で、 2800 円です

In [ ]:
fruit_price(50, 60)

上 様: もも 50 個と、みかん 60 個で、 12400 円です

In [ ]:
stations = ["東京", "品川", "新横浜", "小田原", "熱海"]
print(stations)

['東京', '品川', '新横浜', '小田原', '熱海']

In [ ]:
cases = [100, 125, 110, 135, 93, 95, 93]
print(cases)

[100, 125, 110, 135, 93, 95, 93]

In [ ]:
empty_list = []
print(empty_list)

[]

In [ ]:
print(stations[0])

東京

In [ ]:
print(stations[0], stations[1], stations[2], stations[3], stations[4])

東京 品川 新横浜 小田原 熱海

In [ ]:
stations[5]

IndexError: ignored

In [ ]:
cases = [100, 125, 110, 135, 93, 95, 93]

total = cases[0] + cases[1] + cases[2] # ７日前から５日前までの感染者数の合計を求める
print(total)

335

In [ ]:
values = ['A', 'B', 'C']
print("修正前:", values)

values.insert(0, 999)
print("修正後:", values)

修正前: ['A', 'B', 'C']
修正後: [999, 'A', 'B', 'C']

In [ ]:
values = ['A', 'B', 'C']
print("修正前:", values)

values.insert(3, 999)
print("修正後:", values)

修正前: ['A', 'B', 'C']
修正後: ['A', 'B', 'C', 999]

In [ ]:
values = ['A', 'B', 'C']
print("修正前:", values)

values[1] = 'abc'
print("修正後:", values)

修正前: ['A', 'B', 'C']
修正後: ['A', 'abc', 'C']

In [ ]:
values = ['A', 'B', 'C', 'D']
print("修正前:", values)

del values[1]
print("修正後:", values)

修正前: ['A', 'B', 'C', 'D']
修正後: ['A', 'C', 'D']

In [ ]:
cases = [100, 125, 110, 135, 93, 95, 93]
print(cases)

[100, 125, 110, 135, 93, 95, 93]

In [ ]:
cases = [100, 125, 110, 135, 93, 95, 93]

index = 0 # インデックス値の初期値 0 を設定
total = 0 # 合計感染者数の初期値 0 を設定

while index < 7: # インデックス値 < 感染者数リストの要素数の間、ループを繰り返す
    cases_of_day = cases[index]
    total = total + cases_of_day # totalに、cases[index]を加算
    index = index + 1 # index に 1 を加算
    
print("合計感染者数は:", total)

合計感染者数は: 751

In [ ]:
cases = [100, 125, 110, 135, 93, 95, 93]

index = 0 # インデックス値の初期値 0 を設定
len_cases = len(cases)
total = 0 # 合計感染者数の初期値 0 を設定

while index < len_cases: # インデックス値 < len_cases の間、ループを繰り返す
    cases_of_day = cases[index]
    total = total + cases_of_day # totalに、cases[index]を加算
    index = index + 1 # index に 1 を加算
    
print("合計感染者数は:", total)

合計感染者数は: 751

In [ ]:
values = [1,2,3,4]  # 要素数4のリスト
print(len(values))

4

In [ ]:
values = [1, 2, 3, 4]

for value in values:
    print("valueは", value, "value*valueは", value*value)

valueは 1 value*valueは 1
valueは 2 value*valueは 4
valueは 3 value*valueは 9
valueは 4 value*valueは 16

In [ ]:
cases = [100, 125, 110, 135, 93, 95, 93]

total = 0 # 合計感染者数の初期値 0 を設定
for cases_of_day in cases:
    total = total + cases_of_day

print("合計感染者数は:", total)

合計感染者数は: 751

In [ ]:
names=[1,2,3,4,5,7,6,8,9,10]
names.insert(5,6)
del names[7]
print(names)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]